@import '../../assets/scss/themeVariable.scss';

@mixin card(){
    background-color: var(--cardColor);
    box-shadow: var(--cardShadow);
    border: 1px solid var(--cardBorder);
    border-radius: 5px;
}
@mixin LabelColor($color,$opacity){
    color: $color;
    background-color: rgba(lighten($color, $opacity), 1);
}

//  Media Queries
@mixin media($minWidth, $maxWidth) {
    @media screen and (min-width: WidthPx($minWidth)) and (max-width: WidthPx($maxWidth)) {
        @content;
    }
}
  
@mixin mediaMax($maxWidth) {
    @media screen and (max-width: WidthPx($maxWidth)) {
        @content;
    }
}
  
@mixin mediaMin($minWidth) {
    @media screen and (min-width: WidthPx($minWidth)) {
        @content;
    }
}
  
@function WidthPx($val) {
    @return $val + "px";    
}